// Partial - About
.section-about {   
    // @include picture-scale(1800px, 1224px, './../../images/overview/about.jpg');
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    h2 {
        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    p {
        margin: 0;
    }
}