// Partial - About
.section-about {   
    @include picture-scale(1800px, 1224px, './../../images/overview/about.jpg');
    min-height: 400px;
    text-align: center;    
    
    
    @include media-breakpoint-up(lg) {
        min-height: 628px;
    }

    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}