// Partial - Hero
.section-hero {
    @include picture-scale(1800px, 1224px, './../../images/overview/hero.jpg');
    min-height: 400px;
    text-align: center;    
    
    @include media-breakpoint-up(lg) {
        min-height: 1200px;
    }

    // logo
    h1 {
        $imgHero: './../../images/overview/hero_logo.png';

        @include picture(200px, 124px, $imgHero);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;

        @include media-breakpoint-up(md) {
            @include picture(364px, 226px, $imgHero);
            margin-top: 70px;
        }
    }

    // intro 
    p {
        font-size: 18px;
        margin-top: 62px;
        
        @include media-breakpoint-up(lg) {
            font-size: 25px;
            margin-top: 525px;
        }
    }

}