// Partial - Moments
.section-moments { 
    .moment-record {
        text-align: center;
        margin-top: 1x;

        img {
            max-width: 412px;
            display: block;
            margin: 0 auto;
        }

        p {
            line-height: 1em;
        }
    }
}