// Partial - Moments
.section-moments { 
    .moment-record {
        text-align: center;

        img {
            max-width: 412px;
            display: block;
            margin: 0 auto;
        }

        p {
          
        }
    }
}