// Partial - Specs
.section-specs { 
    text-align: center;

    .spec-record {
        border-radius: 18px;
        background-color: #212121;
        box-sizing: border-box;
        min-height: 120px;
        margin-top: 40px;
        position: relative;
        
        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            left: 0;
            padding: 10px;
            font-size: 18px;
            line-height: 1rem;
            margin: 0;
        }
    }

    .disclaimer {
        font-size: 14px;
        margin-top: 40px;
    }
}