// Partial - Specs
.section-specs { 
    text-align: center;

    .spec-record {
        font-size: 18px;
        background-color: #212121;
        border-radius: 18px;
        padding: 18px;
        box-sizing: border-box;
        min-height: 140px;
        margin-top: 40px;
        position: relative;
        
        p {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            width: 100%;
            left: 0;
            padding: 10px;
            font-size: 15px;
        }
    }

    .disclaimer {
        font-size: 14px;
        margin-top: 40px;
    }
}