// Partial - Venue
.section-venue { 
    .container {
        padding-top: 0 !important;
    }

    .venue-record {
        margin-top: 1.5rem;;
    }

    .venue-caption,
    .venue-image {
        text-align: center;
      
    }

    .venue-image {
        margin-top: 1rem;
        object-fit: cover;
        
        &.tall {
            aspect-ratio: 1.8 / 2.39;

            @include media-breakpoint-up(lg) {
                aspect-ratio: 1.8 / 2.26;
            }

            @include media-breakpoint-up(xl) {
                aspect-ratio: 1.8 / 2.19;
            }
        }

        &.short {
            aspect-ratio: 1.8 / 1;
        }
    }

    .venue-caption {
        margin-top: 0;
    }
}