// Partial - Venue
.section-venue { 
    .container {
        padding-top: 40px;
        padding-bottom: 40px;

        @include media-breakpoint-up(lg) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .venue-caption,
    .venue-image {
        margin-top: 14px;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
}