<section class="section section-about">
    {{#> 'shared/components/container'}}
        <div class="col-xl-5 offset-xl-7 col-lg-12 offset-lg-0 align-self-center">
            <div>
                <h2 class="heading-section">
                    <span>The Sneaky Dream to&nbsp;Reality...</span>
                </h2>
                <p>Local laugher Pete Ayer and producer Ernest Romero came together during the Covid lockdown to create what locals say <strong><em>“the funnest thing to hit San Luis Obispo, ever!”</em></strong> And how can we disagree? We’ve put our blood, sweat and laughs into this unique offering of a hidden comedy club that produces some of the funnest and unique experiences around. And we’re just getting started!</p>
            </div>
        </div>
    {{/ 'shared/components/container'}}
</section>