<section class="section section-moments">
    {{#> 'shared/components/container'}}
        <div class="col-md-12">
            <h2 class="heading-section">
                <span>Check Out Some Fun&nbsp;Moments</span>
            </h2>
        </div>

        <div class="col-md-4">
            <div class="moment-record">
                {{> "shared/components/modal-video-thumbnail"  caption="Kil Theodrick" imgName="./assets/images/overview/comedian_kil_theodrick.jpg" id="kil-theodrick"}}
            </div>
        </div>

        <div class="col-md-4">
            <div class="moment-record">
                {{> "shared/components/modal-video-thumbnail"  caption="Ben Herwitz" imgName="./assets/images/overview/comedian_ben_herwitz.jpg" id="ben-herwitz"}}
            </div>
        </div>

        <div class="col-md-4">
            <div class="moment-record">
                {{> "shared/components/modal-video-thumbnail"  caption="Joe Praino" imgName="./assets/images/overview/comedian_joe_praino.jpg" id="joe-praino"}}
            </div>
        </div>
    {{/ 'shared/components/container'}}
</section>