<section class="section section-venue">
    {{#> 'shared/components/container'}}
        <div class="col-md-12">
            <h2 class="heading-section with-border">
                <span>The Room</span>
            </h2>
        </div>
        
        <div class="col-md-6">
            <div class="venue-record">
                <img class="venue-image tall" src="./assets/images/overview/gallery_bartender.jpg">
                <p class="venue-caption">Open Bar &amp; Custom Cocktails</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="venue-record">
                <img class="venue-image short" src="./assets/images/overview/gallery_stage.jpg">
                <p class="venue-caption">Intimate Room fits 80 patrons</p>
                <img class="venue-image short" src="./assets/images/overview/gallery_hey_man.jpg">
            </div>
        </div>
    {{/ 'shared/components/container'}}
</section>