<footer id="footer" data-mr-component="footer">
    {{#> 'shared/modules/container' classNames="sign-up"}}
        <div class="col-md-12">
            <h2 class="heading-section with-border">
                <span>Are you Ready to be a part of the Sneaky&nbsp;Family?</span>
            </h2>
            <p>We can 100% guarnatee this spot is not going to last. Eventually the city, fire department, or the cops will stumble upon the best kept secret, and we’ll most likely be forced to have have these shows anymore. So don’t wait! Book a show with Ernie today, as we’re filling up the 2023 calendar very fast. We put on shows once a month, but will make opportunities to fit your touring schelde, etc.</p>
            <p>Thanks for checking it out - keep it Sneaky!</p>
            <a href="mailto:sneakyrsvp@gmail.com?subject=Something Sneaky This Way Comes">Email Sneaky's</a>
        </div>

        <div class="col-md-12">
            <img class="footer-logo" src="./assets/images/overview/footer_logo.jpg">
        </div>
    {{/ 'shared/modules/container'}}

    {{#> 'shared/modules/container' classNames="byline" fluid="true"}}
        <div class="col-md-12">
            <p>built by the Sneaky Team - Live Photos by Booker.photo - keep this a secret - don’t ruin it for everyone!</p>
        </div>
    {{/ 'shared/modules/container'}}
</footer>