<footer id="footer" data-mr-component="footer">
    <div class="container">
        <div class="row">
            <p>built by the Sneaky Team - Live Photos by Booker.photo - keep this a secret - don’t ruin it for everyone!</p>
        </div>
    </div>
</footer>