<div class="modal modal-full-viewport" id="{{id}}" role="dialog" aria-label="Video Player" aria-modal="true" tabindex="-1">
    <button class="modal-close" data-modal-close="" aria-label="Close"></button>
    <div class="modal-content">
       {{> @partial-block }}
    </div>
</div>