// Component - component-name
#footer {
    #sign-up {

    }

    #byline {
        background-color: #b20001;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
        text-transform: uppercase;
    }
}