html {
    .lazy-image-fade-in {
        opacity: 0;
    }

    &.images-loaded {
         .lazy-image-fade-in {
            opacity: 1;
            transition: opacity 400ms ease-out;
        }
    }
}