// Partial - Airbnb
.section-airbnb { 
    .container {
        &.loft {
            text-align: center;
            padding-top: 100px;
            padding-bottom: 80px; 

            @include media-breakpoint-up(lg) {
                text-align: right;
            }

            h2 {
                text-align: center;

                @include media-breakpoint-up(lg) {
                    text-align: right;
                }
            }
        
            p {
                margin: 0;
            }

            img {
                margin-top: 40px;

                @include media-breakpoint-up(lg) {
                    margin-top: 0;
                }
            }
        }

        &.perks {
            padding-top: 50px;
            padding-bottom: 25px;
        }
    } 
}