// Partial - fremont
.section-fremont { 
    text-align: center;

    .container {
        padding-top: 80px !important;
        padding-bottom: 80px !important;

        @include media-breakpoint-up(lg) {
            padding-top: 120px !important;
            padding-bottom: 120px !important;
        }
    }

    img {
        margin-top: 50px;
    }
}