// Partial - hero
.section-hero {
    $heroImage: './../../images/overview/hero.jpg';
    $heroHeight: 620px;

    @include picture-scale(auto, $heroHeight, $heroImage);
    text-align: center;

    .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .row {
        min-height: $heroHeight;
    }
    
    @include media-breakpoint-up(lg) {
        $heroHeight: 1200px;

        @include picture-scale(auto, $heroHeight, $heroImage);
        .row {
            min-height: $heroHeight;
        }
    }

    // logo
    h1 {
        $heroImageLogo: './../../images/overview/hero_logo.png';

        @include picture(200px, 124px, $heroImageLogo);
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        
        @include media-breakpoint-up(md) {
            @include picture(364px, 226px, $heroImageLogo);
            margin-top: 70px;
        }
    }

    // intro 
    p {
        font-size: 20px;
        margin-top: 62px;
        
        @include media-breakpoint-up(lg) {
            font-size: 25px;
            margin-top: 450px;
        }
    }
}