// Partial - specs
.section-specs { 
    text-align: center;

    .spec-record {
        position: relative;
        border-radius: 18px;
        background-color: #212121;
        min-height: 120px;
        margin-top: 40px;
          
        p {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            padding: 10px;
            font-size: 18px;
            line-height: 1rem;
            margin: 0;
        }
    }

    .disclaimer {
        font-size: 14px;
        margin-top: 40px;
        line-height: .75rem;
    }
}