// Base - common
html {
    scroll-behavior: smooth;
    
    &.has-touch {
    }

    &.no-js {
    }
    
    body {
        overflow-x: hidden;
        @extend %theme-dark;

        img {
            width: 100%;
        }

        main {  
            .section {
                position: relative;

                .container {
                    padding-top: 25px;
                    padding-bottom: 25px;
            
                    @include media-breakpoint-up(lg) {
                        padding-top: 60px;
                        padding-bottom: 60px;
                    }
                }
            }
        }   
    }
}

// Backgrounds
.bkgd-red-grad {
    background: rgb(75,0,0);
    background: linear-gradient(0deg, rgba(75,0,0,1) 30%, rgba(0,0,0,0) 95%);
}

.bkgd-dark-grey {
    background: #131a15;
}

.bkgd-mid-grey {
    background: #212622;
}