// Base - typography

//  Font Definitions
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

// Generic
* {
    font-family: 'Montserrat', sans-serif;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300;
    margin: 0;
}