<section class="section section-about">
    {{#> 'shared/modules/container'}}
        <div class="col-md-6 offset-md-6">
            <h2 class="heading-section">
                <span>The Sneaky Dream to&nbsp;Reality...</span>
            </h2>
            <p>Local laugher Pete Ayer and producer Ernest Romero came together during the Covid lockdown to create what locals says “the funnest thing to hit San Luis Obispo, ever!” And how can we disagree? We’ve put our blood, sweat and laughs into this unique offering of a hidden comedy club that produces some of the funnest and unique experiences around. And we’re just getting started!</p>
        </div>
    {{/ 'shared/modules/container'}}
</section>