<section class="section section-airbnb">
    <div class="bkgd-mid-grey">
        {{#> 'shared/modules/container'}}
            <div class="col-md-6">
                <h2>Go Ahead, Stay a While.</h2>
                <p>Above the entire experience is the Sneaky Loft, a unique space with 2 beds, full kitchen, space to sprawl out and full bathroom of course. This is also 100% hidden, so don’t expect anyone to know you’re staying in the loft, as well as please don’t publicize that you are as well. Privacy is key to all of our experiences, so we please ask no content sharing of any kind.</p>
            </div>

            <div class="col-md-6">
                <img src="./assets/images/overview/gallery_airbnb_living_room.jpg">
            </div>
        {{/ 'shared/modules/container'}}
    </div>

    <div class="bkgd-dark-grey">
        {{#> 'shared/modules/container'}}            
            <div class="col-md-12">
                <h3>The Sneaky Loft Perks Include</h3>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>Queen + King Beds, 1 Bathroom</li>
                    <li>Projector for Movies</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>TV &amp; Monitor for Work Stations</li>
                    <li>Guitars &amp; Instruments</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>Surfboards &amp; Wetsuits</li>
                    <li>SmartCar for Zipping Around Town</li>
                </ul>
            </div>
            
            <div class="col-md-12">
                <img src="./assets/images/overview/airbnb_toys.jpg">
            </div>
        {{/ 'shared/modules/container'}}
    </div>
</section>