<section class="section section-comedians">
    {{#> 'shared/modules/container'}}
        <div class="col-md-12">
            <h2 class="heading-section with-border"><span>Some of the talented performers to date</span></h2>
        </div>

        <div class="col-md-12">
            <div class="comendian-lineup">        
                <ul>
                    <li>Saul Trujillo</li>
                    <li>Ryan Goodcase</li>
                    <li>Justin James</li>
                    <li>Liv Doty</li>
                    <li>Rick Storer</li>
                    <li>Michael Duncan</li>
                    <li>Eric Freedman</li>
                </ul>
            </div>

            <div class="comendian-lineup"> 
                <ul>
                    <li>Orion Levine</li>
                    <li>Xander Beltrain</li>
                    <li>Chris Williams</li>
                    <li>Ernie Romero</li>
                    <li>Nick Malizia</li>
                    <li>Sam Goldstein</li>
                    <li>Divesh Patel</li>
                </ul>
            </div>

            <div class="comendian-lineup"> 
                <ul>
                    <li>Joe Praino</li>
                    <li>Kil Theodrick</li>
                    <li>Nikki Bon</li>
                    <li>Kyle Anderson</li>
                    <li>Ben Herwitz</li>
                    <li>Jay Light</li>
                    <li>Danny Dunn</li>
                </ul>
            </div>

            <div class="comendian-lineup"> 
                <ul>
                    <li>Monarey Martinez</li>
                    <li>Sean Reilly</li>
                    <li>Tufan Nadjafi</li>
                    <li>Stormy Silva</li>
                    <li>Brett Dodenhoff</li>
                    <li>Bryson Banks</li>
                    <li>Cori Ramsay</li>
                </ul>
            </div>

            <div class="comendian-lineup"> 
                <ul>
                    <li>Ralph Guerra</li>
                    <li>Hannah Rose</li>
                    <li>Issiah Castillo</li>
                    <li>Rob Pugliese</li>
                    <li>Dylan Fisher</li>
                    <li>Adian Candalario</li>
                    <li>Kelsie Rae</li>
                </ul>
            </div>
        </div>
    {{/ 'shared/modules/container'}}
</section>