<section class="section section-fremont">
    {{#> 'shared/modules/container'}}
        <div class="col-md-12">
            <h2 class="heading-section">
                <span>But Wait...There’s More! Introducing the Fremont&nbsp;Theater</span>    
            </h2>
        </div>

        <div class="col-md-12">
            <img src="./assets/images/overview/fremont.jpg">
        </div>

        <div class="col-md-12 col-lg-10 ml-auto mr-auto">
            <p>Our local 900 patron venue, The Fremont Theater, has granted us access to encourage your show to have a Sneaky’s date along with a large theater show. This isn’t mandatory, but if you would like to get 2 shows back to back, we can make it happen. We’d love to discuss details when you’re ready to get 2 great shows dialed.</p>
        </div>
    {{/ 'shared/modules/container'}}
</section>