<section class="section section-PARTIAL-NAME">
    {{#> 'shared/modules/container'}}
        <h1>Sneaky Pete's</h1>
        <p><Welcome to your new favorite comedic playground. Sneaky Pete’s is a well hidden, underground comedy club nesstled in downtown San Luis Obispo, California. We boast sellout, attentive crowds while filming your performance with 4k cameras for your use, as we do not publicize our venue, shows, nor experience. This website is for your eyes only, please. We keep everything SNEAKY around these parts!/p>
    {{/ 'shared/modules/container'}}
</section>