<section class="section section-moments">
    {{#> 'shared/modules/container'}}
        <div class="row">
            <div class="col-md-12">
                <h2>Check Out Some Fun Moments</h2>
                <p>Kil Theodrick</p>
                <p>Ben Herwitz</p>
                <p>Joe Praino</p>
            </div>
        </div>
    {{/ 'shared/modules/container'}}
</section>