<section class="section section-moments">
    {{#> 'shared/modules/container'}}
        <div class="col-md-12">
            <h2>Check Out Some Fun Moments</h2>
        </div>

        <div class="col-md-4">
            <img src="./assets/images/overview/comedian_kit_theodrick.jpg">
            <p>Kil Theodrick</p>
        </div>

        <div class="col-md-4">
            <img src="./assets/images/overview/comedian_bill_herwitz.jpg">
            <p>Ben Herwitz</p>
        </div>

        <div class="col-md-4">
            <img src="./assets/images/overview/comedian_joe_praino.jpg">
            <p>Joe Praino</p>
        </div>
    {{/ 'shared/modules/container'}}
</section>