<section class="section section-PARTIAL-NAME">
    {{#> 'shared/modules/container'}}
        <h2>Check Out Some Fun Moments</h2>
        <p>Kil Theodrick</p>
        <p>Ben Herwitz</p>
        <p>Joe Praino</p>
    {{/ 'shared/modules/container'}}
</section>