<section class="section section-specs">
    <div class="bkgd-red-grad">
        {{#> 'shared/modules/container'}}
            <div class="col-md-12">
                <h2 class="heading-section">
                    <span>Now the Question is, Why should I Perfrom at Sneaky’s?</span>
                </h2>
                <p>We’ve pulled out all the smoke and mirrors to make our room the best comedy experience. Starting with an invite-only event, our audience is here for comedy alone. Additionally, we are not telling the crowd who’s performing, so it’s a complete surprise when we bring you out of the side door. This room is a unqiue spot where you can bring your best but also have the full freedom to play and create with a hot room. We give you as much time as you want, it will be filmed accordingly (only for you to have), with entrance and exit footage. Content is King! To top it off, we have an apartment above the room for your stay and for pre/post show lounging, which has a private bedroom and bathroom.</p>
            </div>
            
            <div class="col-lg-3">
                <div class="spec-record">
                    <p>Additional Sneaky Podcast available in Studio with complete access to footage.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="spec-record">
                    <p>We are attempting to create the best comedy room period. No bullshit, no red tape.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="spec-record">
                    <p>Workout your new 30/45/60+ min, new material in a tested, paid secret club.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="spec-record">
                    <p>No one knows you’ll be coming through and we’ll document the magic of the reveal moment.</p>
                </div>
            </div>

            <div class="col-md-12">
                <p class="disclaimer"><strong><em>We’ll also make sure no one records / takes photos so you have full access to our unique footage.</em></strong></p>
            </div>
        {{/ 'shared/modules/container'}}
    </div>
</section>

