<section class="section section-PARTIAL-NAME">
    {{#> 'shared/modules/container'}}
        <h2>Some of the talented performers to date</h2>
        Saul Trujillo
        Ryan Goodcase
        Justin James
        Liv Doty
        Rick Storer
        Michael Duncan
        Eric Freedman

        Orion Levine
        Xander Beltrain
        Chris Williams
        Ernie Romero
        Nick Malizia
        Sam Goldstein
        Divesh Patel

        Joe Praino
        Kil Theodrick
        Nikki Bon
        Kyle Anderson
        Ben Herwitz
        Jay Light
        Danny Dunn

        Monarey Martinez
        Sean Reilly
        Tufan Nadjafi
        Stormy Silva
        Brett Dodenhoff
        Bryson Banks
        Cori Ramsay

        Ralph Guerra
        Hannah Rose
        Issiah Castillo
        Rob Pugliese
        Dylan Fisher
        Adian Candalario
        Kelsie Rae
    {{/ 'shared/modules/container'}}
</section>