<section class="section section-venue">
    {{#> 'shared/modules/container'}}
        <div class="row">
            <div class="col-md-12">
                <h2>The Room</h2>
            </div>
        </div>
    {{/ 'shared/modules/container'}}
</section>