<section class="section section-venue">
    {{#> 'shared/modules/container'}}
        <div class="row">
            <div class="col-md-12">
                <h2>The Room</h2>

                <img src="./assets/images/overview/gallery_bartender.jpg">

                <img src="./assets/images/overview/gallery_stage.jpg">

                <img src="./assets/images/overview/gallery_hey_man.jpg">
            </div>
        </div>
    {{/ 'shared/modules/container'}}
</section>