{{#extend "shared/templates/page" content=config}}
	{{#content "body:main:content" mode="replace"}}
		<div>
			<div>
				{{> 'partials/hero'}}
				{{> 'partials/venue'}}
				{{> 'partials/talent'}}
				{{> 'partials/moments'}}
				{{> 'partials/perform'}}
				{{> 'partials/fremont'}}
				{{> 'partials/loft'}}
				{{> 'partials/dream'}}
				{{> 'partials/family'}}
			</div>
		</div>
	{{/content}}
{{/extend}}